
  <div class="breadcrumbs" data-aos="fade-up" data-aos-duration="1000">
    <div class="page-header d-flex align-items-center" style="background-image: url('/assets/services_images/10.png');">
        <div class="container position-relative">
        <div class="row d-flex justify-content-center" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="col-lg-6 text-center">
            <img src="/assets/logo_colissapress_sans_BG.png">
            <h2>Messagerie E-commerce</h2><br>
            <p>Sapress vous propose une gestion  maitrisée et efficiente de toute la chaîne logistique de votre activité e-commerce.<br>
              Sapress prend en charge pas seulement la livraison de vos colis, mais aussi le stockage, la préparation de vos commandes, la gestion de retour de fonds et  une prise en charge des colis retournés
              </p>
            </div>
        </div>
        </div>
    </div>
  </div>

  <app-shared-services [title]="title_1" [order]="order_1"  [service_img]="service_img_1"  [service_details]="service_details_1"[titles_color]="titles_color" [service_details_second]="service_details_second" [title_second]="title_second" [second]="true"></app-shared-services>
  