 /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .page-header {
  padding: 10px 0 15px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs .page-header:before {
  content: "";
  background-color: rgba(110, 188, 76, 0.8);
  position: absolute;
  inset: 0;
}

.breadcrumbs .page-header img {
  width: 30%;
}

.breadcrumbs .page-header h2 {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  font-family: "Avantgarde", "Avant Garde Gothic", "Century Gothic", sans-serif;
}

.breadcrumbs .page-header p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;

}

.breadcrumbs nav {
  background-color: #f3f6fc;
  padding: 20px 0;
}

.breadcrumbs nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-secondary);
}

.breadcrumbs nav ol a {
  color: var(--color-primary);
  transition: 0.3s;
}

.breadcrumbs nav ol a:hover {
  text-decoration: underline;
}

.breadcrumbs nav ol li+li {
  padding-left: 10px;
}

.breadcrumbs nav ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4278cc;
  content: "/";
}

/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details .services-list {
padding: 10px 30px;
border-left: 1px solid var(--green);
margin-bottom: 20px;
background-color: var(--green);
box-shadow: rgba(110,188 , 76, 0.4) -5px 5px, rgba(110, 188, 76, 0.3) -10px 10px, rgba(110, 188, 76, 0.2) -15px 15px, rgba(110, 188, 76, 0.1) -20px 20px, rgba(110, 188, 76, 0.05) -25px 25px;
}

.service-details .services-list a {
display: block;
line-height: 1;
padding: 8px 0 8px 15px;
border-left: 3px solid rgb(255,255,255,0.9);
margin: 20px 0;
color: rgb(255,255,255,0.9);
transition: 0.3s;
text-decoration: none;
}

.service-details .services-list a.active {
font-weight: 700;
border-color: var(--white);
color:var(--white)
}

.service-details .services-list a:hover {
border-color: var(--green);
color:var(--white)
}

.service-details .services-img {
margin-bottom: 20px;
}

.service-details h3 {
font-size: 28px;
font-weight: 700;
color: var(--green);
}

.service-details h4 {
font-size: 20px;
font-weight: 700;
color: var(--dark_green);
}

.service-details p {
font-size: 15px;
}

.service-details ul {
list-style: none;
padding: 0;
font-size: 15px;
}

.service-details ul li {
padding: 5px 0;
display: flex;
align-items: center;
}

.service-details ul i {
font-size: 20px;
margin-right: 8px;
color: var(--green);
}

