    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <h2>Nos services sur mesure</h2>
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-md-6 col-lg-3  align-items-stretch  mb-sm-2 mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="d-flex  justify-content-center icon"><i class="fas fa-hand-holding-usd"></i></div>
                <h4 class="title d-flex justify-content-center">Contre remboursement</h4>
                <p class="description d-flex  justify-content-center">Par virement en 24H</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-sm-2 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon d-flex justify-content-center"><i class="fas fa-box-open"></i></div>
                <h4 class="title  d-flex justify-content-center">Emballage</h4>
                <p class="description d-flex justify-content-center">Préparation de colis</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch  mb-sm-2 mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon d-flex justify-content-center"><i class="fas fa-sms"></i></div>
                <h4 class="title d-flex justify-content-center">Accusé de réception</h4>
                <p class="description d-flex justify-content-center">Par SMS envoyé à l'expéditeur</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch  mb-sm-2 mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon d-flex  justify-content-center"><i class="fas fa-hand-holding-medical"></i></div>
                <h4 class="title d-flex  justify-content-center">Valeur déclarée</h4>
                <p class="description d-flex  justify-content-center">Assurance colis</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
      <app-client-type></app-client-type>
<app-offre-logistique></app-offre-logistique>