    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-up" data-aos-duration="1000">
        <div class="page-header d-flex align-items-center" style="background-image: url('/assets/Slider/img4.jpg');">
            <div class="container position-relative">
            <div class="row d-flex justify-content-center" data-aos="zoom-in-up" data-aos-duration="1000">
                <div class="col-lg-6 text-center">
                <img src="/assets/logo_white.png">
                <h2>Carrières</h2><br>
                </div>
            </div>
            </div>
        </div>
      </div>
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
            <!-- <div class="col-lg-6">
              <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-map"></i>
                <h3>Notre adresse</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>End Info Item -->
  
            <div class="col-lg-6 col-md-6">
              <div class="info-item d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-envelope"></i>
                <h3>Envoyez-nous un e-mail</h3>
                <p>recrutement@sapress-sochepress.ma </p>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-lg-6 col-md-6">
              <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-telephone"></i>
                <h3>Nous appeler</h3>
                <p>+212 522 58 98 98 / 99</p>
              </div>
            </div><!-- End Info Item -->
  
          </div>
  
          <div class="row gy-4 mt-1">
  
            <!-- <div class="col-lg-6 ">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>End Google Maps -->
  
            <div class="col-lg-12">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row gy-4">
                  <div class="col-lg-6 form-group">
                    <h2>Civilité</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <select name="civility" class="form-control" id="civility" required>
                      <option value="" disabled selected>Civilité</option>
                      <option value="mr">Monsieur</option>
                      <option value="mme">Madame</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Nom</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Champ à remplir" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Prénom</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Champ à remplir" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Télèphone</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="tel" class="form-control" id="tel" placeholder="Champ à remplir" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>E-mail</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Champ à remplir" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Adresse</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="adress" class="form-control" id="adress" placeholder="Champ à remplir" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Ville</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="city" class="form-control" id="city" placeholder="Champ à remplir" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Mobilité</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <select name="mobility" class="form-control" id="mobility" required>
                      <option value="" disabled selected>Mobilité</option>
                      <option value="yes">Oui</option>
                      <option value="no">Non</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Date de naissance</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="date" name="birthdate" class="form-control" id="birthdate" placeholder="jj/mm/aaaa" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Niveau d'études</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <select name="studies" class="form-control" id="studies" required>
                      <option value="" disabled selected>Niveau d'études</option>
                      <option value="nbac">Niveau BAC</option>
                      <option value="bac">BAC</option>
                      <option value="bac2">BAC +2/ BAC +3</option>
                      <option value="bac4">BAC +4/ BAC +5</option>
                      <option value="other">AUTRES</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Diplôme</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="diploma" class="form-control" id="diploma" placeholder="Dernier diplôme" required>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Niveau d'expérience</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <select name="experience" class="form-control" id="experience" required>
                      <option value="" disabled selected>Niveau d'expérience</option>
                      <option value="beginner">Débutant</option>
                      <option value="m2">Moins de 2 ans</option>
                      <option value="m5">Entre 2 ans et 5 ans</option>
                      <option value="m6">Plus de 5 ans</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>Poste demandé</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <select name="poste" class="form-control" id="poste" required>
                      <option value="" disabled selected>Poste demandé</option>
                      <option value="stage">Stage</option>
                      <option value="embauche">Embauche</option>
                      <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                  </div>
                  <div class="col-lg-6 form-group">
                    <h2>CV</h2>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label for="cv"></label>
                    <input type="file" name="cv" id="cv" class="form-control-file" required>
                  </div>
                </div>
                <div class="my-6">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Postuler</button></div>
              </form>
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
