 /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .page-header {
    padding: 10px 0 15px 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs .page-header:before {
    content: "";
    background-color: rgba(110, 188, 76, 0.8);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs .page-header img {
    width: 30%;
  }
  
  .breadcrumbs .page-header h2 {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    font-family: "Avantgarde", "Avant Garde Gothic", "Century Gothic", sans-serif;
  }
  
  .breadcrumbs .page-header p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
  
  }
  
  .breadcrumbs nav {
    background-color: #f3f6fc;
    padding: 20px 0;
  }
  
  .breadcrumbs nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secondary);
  }
  
  .breadcrumbs nav ol a {
    color: var(--color-primary);
    transition: 0.3s;
  }
  
  .breadcrumbs nav ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs nav ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs nav ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4278cc;
    content: "/";
  }



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
    background-color: var(--lightgreen);
  }
  
  .contact .info-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: var(--green);
    border-radius: 50%;
    border: 2px dotted var(--grey);
  }
  
  .contact .info-item h3 {
    font-size: 20px;
    color: var(--green);
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    width: 100%;
    background-color: var(--lightgreen);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 30px;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 20px;
  }

  .contact .form-group h2{
    font-size: 15px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: var(--green);
    background: var(--green);
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--color-primary);
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: var(--green);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: var(--grey);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  