
  <div class="container">

    <div id="client-type" class="row gy-4">

      <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up">
          <a routerLink="/messagerie_ecom_details" class="btn-get-started scrollto f1">E-commerçant<i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex justify-content-center" data-aos="fade-up">
        <a routerLink="/messagerie_part_details" class="btn-get-started scrollto f2">Particulier<i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex justify-content-center" data-aos="fade-up">
        <a routerLink="/messagerie_details" class="btn-get-started scrollto f3">Entreprise<i class="bi bi-arrow-right"></i></a>
      </div>

    </div>

  </div>

