    <!-- ======= Featured Services Section ======= -->
    <section id="messagerie_featured_services" class="messagerie_featured_services">
      <h1>Venez découvrir nos offres adaptées</h1>
      <h2>Messagerie</h2>
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box w-100" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fas fa-cube"></i></div>
                <h4 class="title">Colis</h4>
                <p class="description">Transport de colis au niveau national en 24H.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box w-100" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
                <h4 class="title">E-commerce</h4>
                <p class="description">Tarification adaptée, stockage, programmation du ramassage, préparation des colis avec impression</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box w-100" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fa-regular fa-file-lines"></i></div>
                <h4 class="title">Documents</h4>
                <p class="description">Transport de tout types de documents et valeurs sur tout le Royaume. <br>Retour documentaire physique et électronique.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box w-100" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="fa-solid fa-cubes"></i></div>
                <h4 class="title">Envois volumineux</h4>
                <p class="description">Transport et service manutention à la demande</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
<app-client-type></app-client-type>
<app-offre-messagerie-customized></app-offre-messagerie-customized>
