<div class="container" data-aos="fade-up" data-aos-duration="1000">
    
    <div class="row">

	<div class="four col-md-3">
		<div class="counter-box">
			<i class="fa-solid fa-shop"></i>
			<span class="counter">+ 30 </span>
			<p>Agences / Hub logistiques</p>
		</div>
	</div>
	<div class="four col-md-3">
		<div class="counter-box">
			<i class="fa-solid fa-building-circle-arrow-right"></i>
			<span class="counter">2</span>
			<p>Plateformes logistiques</p>
		</div>
	</div>
	<div class="four col-md-3">
		<div class="counter-box">
			<i class="fa-solid fa-users"></i>
			<span class="counter">+ 300</span>
			<p>Collaborateurs mobilisés quotidiennement</p>
		</div>
	</div>
	<div class="four col-md-3">
		<div class="counter-box">
			<i class="fa-solid fa-map-pin"></i>
			<span class="counter">+ 880</span>
			<p>Localités desservies <br>au niveau du Royaume</p>
		</div>
	</div>
  </div>	
</div>
