
<div class="breadcrumbs" data-aos="fade-up" data-aos-duration="1000">
    <div class="page-header d-flex align-items-center" style="background-image: url('/assets/services_images/BG-part.png');">
        <div class="container position-relative">
        <div class="row d-flex justify-content-center" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="col-lg-6 text-center">
            <img src="/assets/logo_colissapress_sans_BG.png">
            <h2>Messagerie Particulier</h2><br>
            <p>Pour vos besoins d’envoi et livraison de colis,
              Sapress vous propose des services qui facilitent
              votre quotidien.
              </p>
            </div>
        </div>
        </div>
    </div>
  </div>

  <app-shared-services [title]="title_1" [order]="order_1"  [service_img]="service_img_1"  [service_details]="service_details_1" [titles_color]="titles_color"></app-shared-services>
  <app-shared-services [title]="title_2" [order]="order_2"  [service_img]="service_img_2"  [service_details]="service_details_2" [titles_color]="titles_color"></app-shared-services>
  
