<!-- ======= logistic_services Section ======= -->
<section id="logistic_services" class="logistic_services">
    <h2>Logistique</h2>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <div class="icon"><i class="fa-solid fa-box-open"></i></div>
                <h4 class="title">Dépôt</h4>
                <ul>
                    <li><i class="bi bi-check2-circle"></i>Réception & Stockage</li>
                    <li><i class="bi bi-check2-circle"></i>Transport / enlèvement</li>
                    <li><i class="bi bi-check2-circle"></i>Gestion des retours</li>
                </ul>
        </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
                <div class="icon"><i class="fa-solid fa-boxes-packing"></i></div>
                    <h4 class="title">Stockage & Préparation</h4>
                    <ul>
                        <li><i class="bi bi-check2-circle"></i>Préparation des commandes</li>
                        <li><i class="bi bi-check2-circle"></i>Administration des ventes</li>
                    </ul>
            </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
                <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
                    <h4 class="title">Expédition</h4>
                    <ul>
                        <li><i class="bi bi-check2-circle"></i>Distribution et livraison multicanal</li>
                        <li><i class="bi bi-check2-circle"></i>Retour de fonds</li>
                        <li><i class="bi bi-check2-circle"></i>Suivi en temps réel</li>
                    </ul>
            </div>
        </div>

      </div>

    </div>
  </section><!-- End logistic_services Section -->
<app-logistic-clients-type></app-logistic-clients-type>
