
<div class="timelines container">                      
    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-6 co-lg-8">
            <div class="f-4">
            <img src="../../../assets/icons8-in-transit-96.png" height="100px" width="100px">
            <!-- <i class="fa-solid fa-cube f-4"></i> -->
            </div>
            <h1 class="font-weight-bold">Envoyer un colis</h1>
            <p class="text-muted">A domicile ou dans un point relais, il ne vous faut que quelques clics pour préparer votre envoi !</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <div class="inner-circle"></div>
                        <p class="h6 text-muted mb-0 mb-lg-0">Je choisis le type d'expédition</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                        <div class="inner-circle"></div>
                        <p class="h6 text-muted mb-0 mb-lg-0">Je saisis le poids de mon colis</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                        <div class="inner-circle"></div>
                        <p class="h6 text-muted mb-0 mb-lg-0">Je saisis l'adresse d'expédition</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                        <div class="inner-circle"></div>
                        <p class="h6 text-muted mb-0 mb-lg-0">Je sélectionne dans la carte de point relais le plus proche</p>
                    </div>
                </div>
                <div class="timeline-step mb-0">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                        <div class="inner-circle"></div>
                        <p class="h6 text-muted mb-0 mb-lg-0">Je saisis l'adresse de destination</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-adress-input></app-adress-input>
