/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: var(--green);
  margin-top: 5%;
}
@media (max-width: 768px) {
  #footer {text-align: center;
  }
}

@media (max-width: 768px) {
  #footer .footer-top .footer-links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


#footer .footer-top {
  padding: 30px 0 0px 0;
  background: var(--lightgray);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact img{
  width : 150px;
  height: auto;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--green);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: var(--green);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--green);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--green);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--grey);
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  font-size: 13px;
  text-align: center;
}

#footer .credits a {
  transition: 0.3s;
  color: var(--grey);
  font-weight: bold;
}

#footer .credits a:hover {
  color : #fff;
  font-weight: bold;
}
@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}