<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <img src="/assets/logo.png">
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nous rejoindre</h4>
          <ul>
            <li><i class="bi bi-briefcase-fill"></i><a routerLink="/careers">Carrières</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Echangez avec nous</h4>
          <ul>
            <li><i class="bi bi-headset"></i><a href="https://support.sapresslogistics.ma/hc/fr/requests/new" target="_blank">Nous contacter</a></li>
            <li><i class="bi bi-telephone-fill"></i> <a>+212 522 58 98 98 / 99</a></li>
            <li><i class="bi bi-envelope-check-fill"></i> <a>service-client@sapress.ma</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nous suivre</h4>
          <div class="social-links mt-3">
            <!-- <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a> -->
            <a href="https://www.facebook.com/SapressLogistiqueEtMessagerie/" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/sapresslogistiquemessagerie/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/showcase/sapress-logistique-et-messagerie" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy;2023 Copyright Sapress. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <b>sapresslogistics</b> 
    </div>
  </div>
</footer><!-- End Footer -->