<div class="simulator">
  <div class="container">
  <div class="row">
    <div class="col-md-12">  
      <!-- Simulator form -->
   
      <h1 class="main-title" data-aos="fade-up"><i class="fa-solid fa-cube f-4" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500"></i>Simuler l'envoi de mon colis
           <a href="#" data-bs-toggle="modal" data-bs-target="#PanierModal">
            <i class="fa-solid fa-basket-shopping" style="color: #fbe254; font-size: 44px;"></i>
            <span style="color: red; font-weight: bold;">{{ panier.length }}</span>
        </a>             
       </h1>
          <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm" (change)="showPrice()" >
            <div class="row">
            
          <div class="col-sm-12 col-md-8 simulator-form" *ngIf="showFirstRow"  id="1">            
        <div class="row">
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="100">
            <span style="font-weight: bold;
            color: #68c054;"><i class="fa-solid fa-arrow-right"></i>Je choisis le type de saisie</span>
            <br/><br/>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="radio" class="form-check-input" id="pointRelais" name="typeEnvoi" [(ngModel)]="typeSaisi" value="Saisie manuel" required>
                  <label class="form-check-label" for="pointRelais">Saisie manuel</label>
                </div>
              </div>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="radio" class="form-check-input" id="aDomicile" name="typeSaisi" [(ngModel)]="typeSaisi" value="Importation" required>
                  <label class="form-check-label" for="aDomicile">Importation</label>
                </div>
              </div>
          </div>
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="100" *ngIf="typeSaisi=='Saisie manuel'">
            <span style="font-weight: bold;
            color: #68c054;"><i class="fa-solid fa-arrow-right"></i>Je choisis le type paiement</span>
            <br/><br/>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="radio" class="form-check-input" id="paiement_type" name="paiement_type" [(ngModel)]="paiement_type" value="port du" required>
                  <label class="form-check-label" for="paiement_type">Port du</label>
                </div>
              </div>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="radio" class="form-check-input" id="paiement_type" name="paiement_type" [(ngModel)]="paiement_type" value="port payé" required>
                  <label class="form-check-label" for="paiement_type">Port payé</label>
                </div>
              </div>
          </div>
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="100" *ngIf="typeSaisi=='Importation'">
            <span style="font-weight: bold; color: #68c054;">
              <i class="fa-solid fa-arrow-right"></i>
              Merci de respecter le canva suivant:
              &NonBreakingSpace;&NonBreakingSpace;
              <i class="fa-solid fa-file-excel" (click)="downloadExcel()" style="font-size: 25px;"></i>
          </span>
          
            <br/><br/>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input class="form-control" type="file" id="fileInput" #fileInput>
                </div>
                <button type="submit" class="btn btn-primary mb-2" (click)="importFile()" data-bs-toggle="modal" data-bs-target="#PanierModal">Importer</button>
              </div>
             
          </div>
  
          <div class="col-md-6 col-lg-6 col-sm-12" data-aos="fade-right" data-aos-delay="300">          
            <h5>Expédition</h5>
            <div class="f-5">    
           <div class="form-group">
                <label for="villeSource">Ville source* </label><a (click)="getLocation()" style="color: #73c561;font-size: 17px;font-weight: bold;cursor: grab;">
                  <i class="fas fa-map-marker-alt" style="color: #73c561;font-size: 18px;"> </i></a>
                <input class="form-control" type="text" [(ngModel)]="villeSource" name="villeSource" (ngModelChange)="onAddressChange()" required>
                <div *ngIf="formulaire.controls['villeSource']?.invalid && formulaire.controls['villeSource']?.touched" style="font-size: 12px;
                font-weight: bold;
                color: red;">
                  Ville source est requise
                </div>
              </div>
              <div class="form-group">
                <label for="quartierSource">Quartier source*</label>
                <input class="form-control" type="text" [(ngModel)]="adresseDetaillee" name="adresseDetaillee" [disabled]="!villeSource" (ngModelChange)="onAddressChange()" required>
                <div *ngIf="formulaire.controls['adresseDetaillee']?.invalid && formulaire.controls['adresseDetaillee']?.touched" style="font-size: 12px;
                font-weight: bold;
                color: red;">
                  Quartier source est requise.
                </div>
              </div>
                <!-- Button trigger popup source -->
            <a  href="#" data-bs-toggle="modal" data-bs-target="#SourceModal" (click)="geocodeByStreet(villeSource, adresseDetaillee)" *ngIf="adresseDetaillee && villeSource">
              <i class="fas fa-map-marker-alt"></i>
              Trouver un point relais
            </a>
            </div>
          </div>    
          <div class="col-md-6 col-lg-6 col-sm-12" data-aos="fade-right" data-aos-delay="400" *ngIf="typeSaisi=='Saisie manuel'">
            <h5>Destination</h5>       
            <div class = "f-5">
              <div class="form-group">
                <label for="villeDestination">Ville destination*</label>
                <input class="form-control" type="text" name="villeDestination" [(ngModel)]="villeDestination"  required>
                <div *ngIf="formulaire.controls['villeDestination']?.invalid && formulaire.controls['villeDestination']?.touched" style="font-size: 12px;
                font-weight: bold;
                color: red;">
                  Ville destination est requise.
                </div>
              </div>
              <div class="form-group" *ngIf="typeExpedition=='Point de relais'" >
                <label for="quartierDestination">Quartier destination*</label>
                <input class="form-control" type="text" name="quartierDestination" [(ngModel)]="quartierDestination" [disabled]="!villeDestination" required>
                <div *ngIf="formulaire.controls['quartierDestination']?.invalid && formulaire.controls['quartierDestination']?.touched" style="font-size: 12px;
                font-weight: bold;
                color: red;">
                  Ville destination est requise.
                </div>
                
              </div>
            <a  href="#" data-bs-toggle="modal" data-bs-target="#destinationModal" (click)="geocodeByStreet(villeDestination, quartierDestination)" *ngIf="quartierDestination && villeDestination && typeExpedition=='Point de relais'">
               <i class="fas fa-map-marker-alt"></i>
              Trouver un point relais
            </a>
            </div>
           
          </div>
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="200" *ngIf="typeSaisi=='Saisie manuel'">
            <label for="poids">Je saisis le poids de mon colis (kg) </label>
            <input type="number" min="0" max="20" class="form-control" id="poids" name="poids" value="poids" placeholder="le poids de mon colis" [(ngModel)]="poids" required>
            <div *ngIf="formulaire.controls['poids']?.invalid && formulaire.controls['poids']?.touched" style="font-size: 12px;
            font-weight: bold;
            color: red;">
Le poids ne doit pas excéder 20 kg.
               </div>
          </div>    
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="100" *ngIf="typeSaisi=='Saisie manuel'">
            <span style="font-weight: bold;
            color: #68c054;"><i class="fa-solid fa-arrow-right"></i>Je choisis le mode d'envoi</span>
            <br/><br>
            <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="radio" class="form-check-input" id="Standard" name="typeLivraison" [(ngModel)]="typeLivraison" value="Standard" required>
                  <label class="form-check-label" for="typeLivraison">Standard</label>
                </div>
              </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="Recommandé" name="typeLivraison" [(ngModel)]="typeLivraison" value="Recommandé" required>
              <label class="form-check-label" for="typeLivraison">Recommandé</label>
            </div>
          </div>
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="200" *ngIf="typeLivraison=='Recommandé'">
            <label for="poids">Carte d'identité national </label>
            <input type="text" class="form-control" id="CIN" name="CIN" value="CIN" placeholder="Carte d'identité national" [(ngModel)]="CIN" required>
          </div>  
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="100" *ngIf="typeSaisi=='Saisie manuel'">
            <span style="font-weight: bold;
            color: #68c054;"><i class="fa-solid fa-arrow-right"></i> Option d'envoi</span>
            <br/><br/>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="checkbox" class="form-check-input" (change)="toggleAmountInput()" >
                  <label class="form-check-label" for="pointRelais">Contre rembourcement: Montant à retourner</label>
                  <input type="number" class="form-text-input" style="margin-left: 31px;
                  border-radius: 10px;padding-left: 51px;" placeholder="Montant DHS..." *ngIf="showAmountInput" name="additionalAmount" pattern="^\d+(\.50|\.55)?$" [(ngModel)]="additionalAmount">
                </div>
              </div>
              <div class="d-flex">
                <div class="form-check mr-5 " style="margin-right: 50px;">
                  <input type="checkbox" class="form-check-input"  (change)="toggleAmountInpu2t()" >
                  <label class="form-check-label" for="pointRelais">Assurance colis : Valeur à déclarer </label>
                  <input type="number" class="form-text-input" style="margin-left: 31px;
                  border-radius: 10px;padding-left: 51px;" placeholder="Montant DHS..." *ngIf="showAmountInput2" name="AssuranceAmount" pattern="^\d+(\.50|\.55)?$" [(ngModel)]="AssuranceAmount">
                </div>
              </div>
          </div>
          <div class="form-group f-5" data-aos="fade-right" data-aos-delay="100">
            <div class="d-flex">
              <div class="form-check mr-5 " style="margin-right: 50px;">
                <form [formGroup]="form">
                  <i class="fa-solid fa-arrow-right"></i>&NonBreakingSpace;  <label class="form-check-label" for="Standard">Date de traitement:</label>
                   &NonBreakingSpace;
                  <input type="datetime-local" formControlName="datetime" style="border: none;" readonly>
                </form>
                <form [formGroup]="form">
                  <i class="fa-solid fa-arrow-right"></i>&NonBreakingSpace;  <label class="form-check-label" for="Standard">Date de livraison prévisionnel:</label>
                   &NonBreakingSpace;  <span>Entre le {{ form.get('deliveryDate')?.value }}</span>
                </form>
                
              </div>
            </div>
  
        </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 simulator-form" *ngIf="!showFirstRow"id="2" >
           
  <div class="row">
    <span style="font-weight: bold;color: #68c054;font-size: 21px;" *ngIf="showFirstButton"><i class="fa-solid fa-arrow-right"></i> Informations détaillées </span>
   
    <div class="col-md-6 col-lg-6 col-sm-12" data-aos="fade-right" data-aos-delay="300" *ngIf="showFirstButton">
      <!-- geolocation.component.html -->
      <h5>Expéditeur</h5>
      <div class="f-5">
        <div class="form-group">
          <label for="villeSource"></label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="expediteur_name" [(ngModel)]="expediteur_name" placeholder="Nom complet....">
          <div *ngIf="formulaire.controls['expediteur_name']?.invalid && formulaire.controls['expediteur_name']?.touched" style="font-size: 12px;
          font-weight: bold;
          color: red;">
            Nom est requise.
          </div>
        </div>
        <div class="form-group">
          <label for="quartierSource"></label>
          <input type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Téléphone...." name="expediteur_phone" [(ngModel)]="expediteur_phone">
          <div *ngIf="formulaire.controls['expediteur_phone']?.invalid && formulaire.controls['expediteur_phone']?.touched" style="font-size: 12px;
          font-weight: bold;
          color: red;">
            Téléphone est requise.
          </div>
        </div>
        <div class="form-group">
          <label for="quartierSource"></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email...." name="expediteur_email" [(ngModel)]="expediteur_email">
        </div>
   
      </div>
    </div>    
    <div class="col-md-6 col-lg-6 col-sm-12" data-aos="fade-right" data-aos-delay="400" *ngIf="showFirstButton">
      <h5>Destinataire</h5>
     
      <div class="f-5">
        <div class="form-group">
          <label for="villeSource"></label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom complet...." name="destinataire_name" [(ngModel)]="destinataire_name">
          <div *ngIf="formulaire.controls['destinataire_name']?.invalid && formulaire.controls['destinataire_name']?.touched" style="font-size: 12px;
          font-weight: bold;
          color: red;">
            Nom est requise.
          </div>
        </div>
        <div class="form-group">
          <label for="quartierSource"></label>
          <input type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Téléphone...." name="destinataire_phone" [(ngModel)]="destinataire_phone">
          <div *ngIf="formulaire.controls['destinataire_phone']?.invalid && formulaire.controls['destinataire_phone']?.touched" style="font-size: 12px;
          font-weight: bold;
          color: red;">
            Téléphone est requise.
          </div>
        </div>
        <br/>
        <div class="form-group" *ngIf="typeExpedition == 'À domicile'">
        <b>Pour faciliter la livraison, merci de saisir toutes les informations relatives à l'adresse complète</b> 
          <div class="form-group col">
              <input class="form-control" type="number" name="quartierDestination" [(ngModel)]="NumeroQuartier" [disabled]="!villeDestination" placeholder="Numero...." required>
              <div *ngIf="formulaire.controls['quartierDestination']?.invalid && formulaire.controls['NumeroQuartier']?.touched" style="font-size: 12px; font-weight: bold; color: red;">
                  Numero est requise.
              </div>
          </div>
      
          <div class="form-group col">
              <input class="form-control" type="text" name="NumeroQuartier" [(ngModel)]="quartierDestination" [disabled]="!villeDestination" placeholder="Quartier...." required>
              <div *ngIf="formulaire.controls['quartierDestination']?.invalid && formulaire.controls['quartierDestination']?.touched" style="font-size: 12px; font-weight: bold; color: red;">
                Quartier est requise.
            </div>       
            </div>
      
          <div class="form-group col">
              <input class="form-control" type="text" name="AdressDes" [(ngModel)]="AdressDes" [disabled]="!villeDestination" placeholder="Adresse...." required>
              <div *ngIf="formulaire.controls['AdressDes']?.invalid && formulaire.controls['AdressDes']?.touched" style="font-size: 12px; font-weight: bold; color: red;">
                Adress est requise.
            </div>      
          </div>
      </div>
      
        <div class="form-group">
          <label for="quartierSource"></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email...." name="destinataire_email" [(ngModel)]="destinataire_email">

        </div>

   
      </div>
    </div>
    
  </div>
  <div class="row" style="margin-top: 30px;" *ngIf="!showFirstButton">
     
    <div class="col">
      <div class="border border-success" style="    height: 46px;
      padding: 11px;
      width: 187px;
      background-color: #68c054;
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin-top: 68px;
      margin-left: 90px;">Votre code d'envoi:</div>
    </div>
    <div class="col">
      <img #barcode [src]="barcodeImage" alt="Barcode Image" />
    </div>
  </div>

</div>
      <div class="col-sm-12 col-md-4 result" data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
          <h3>Vos résultats</h3>
         
          
          <ul>
      
            <li>
              <p><i class="fa-solid fa-terminal"></i>Type Saisie : <span *ngIf="typeSaisi" class="options">{{typeSaisi}}</span></p>
            </li>
            <li>
              <p><i class="fas fa-store"></i>Type d'expédition : <span *ngIf="typeExpedition" class="options">{{typeExpedition}}</span></p>
            </li>
            <li>
              <p><i class="fa-solid fa-truck-ramp-box"></i>Mode d'envoi : <span *ngIf="typeExpedition" class="options">{{typeLivraison}}</span></p>
            </li>
            <li>
              <p><i class="fas fa-weight"></i> Poids :<span *ngIf="poids" class="options">{{poids}} KG</span> </p>
            </li>
            <li>
              <p><i class="fas fa-hand-holding-usd"></i>   Tarif de l'envoi :<span *ngIf="poids && typeExpedition" class="options">{{price}} MAD</span></p>   
            </li>
            <li *ngIf="showAmountInput">
  <p>
    <i class="fa-solid fa-money-bill-trend-up"></i> Contre remboursement :
    <span class="options">
      {{ ((additionalAmount ? additionalAmount : 0) * 0.8 / 100).toFixed(2) }} MAD
    </span>
    
      </p>            </li>
  <li *ngIf="showAmountInput2">
    <p>
<i class="fa-solid fa-circle-dollar-to-slot"></i> Assurance colis :
<span class="options">{{((AssuranceAmount ? AssuranceAmount :0)* 0.5/100).toFixed(2) }} MAD</span>
    </p>            </li>
    <li *ngIf="showAmountInput3">
      <p>
    <i class="fa-solid fa-comment-sms"></i> Accusé de réception SMS :
  <span class="options">{{Smsttc}} MAD</span>
      </p>            </li>
  <li *ngIf="showAmountInput4">
        <p>
          <i class="fa-solid fa-truck"></i> Preuve de livraison :
    <span class="options">{{Deliveryttc}} MAD</span>
        </p>            </li>
        <li>
          <p>
            <i class="fa-solid fa-diamond-turn-right"></i> TOTAL :
            <span class="options">{{ calculateTotal() ?calculateTotal() :0}} MAD</span>
          </p>            </li>
            <div *ngIf="selectedRelayPointSource" class="selectedSource">
            <li style="margin-top: 5%;">
            <h4>Point de relais de dépôt</h4>
            <br/>
            <p>{{ selectedRelayPointSource.code_es }} | {{ selectedRelayPointSource.agence }}</p>
            <p class="adress">                 <a (click)="getGoogleMapsUrl(selectedRelayPointSource.Adresse)">
              <i class="fas fa-map-marker-alt"></i>
              </a>{{ selectedRelayPointSource.Adresse }}</p>
            

            <!-- <h4>Horaires d'ouverture</h4> -->
            <div >
                <p class="openingHoure adress" ><i class="fa-solid fa-shop"></i> Lundi - Vendredi 8h00 -20H00</p>
            </div>
            <div >
                <p class="adress"><i class="fa-solid fa-shop"></i> Samedi 9h00 -17h00</p>
          
            </div>
              <!-- Autres détails du point relais sélectionné -->
            
            </li>
          </div>
          <div *ngIf="selectedRelayPointSource2 && typeExpedition!='À domicile'" class="selectedSource">
            <li style="margin-top: 5%;">
            <h4>Point de relais de destination</h4>
            <br/>
            <p>{{ selectedRelayPointSource2.code_es }} | {{ selectedRelayPointSource2.agence }}</p>
            <p class="adress"> <i class="fas fa-map-marker-alt"></i>{{ selectedRelayPointSource2.Adresse }}</p>
            
            <!-- <h4>Horaires d'ouverture</h4> -->
            <div >
              <p class="openingHoure adress" ><i class="fa-solid fa-shop"></i> Lundi - Vendredi 8h00 -20H00</p>
          </div>
          <div >
              <p class="adress"><i class="fa-solid fa-shop"></i> Samedi 9h00 -17h00</p>
        
          </div>
            </li>
          </div>
          <div *ngIf="villeDestination" class="selectedSource">
            <li style="margin-top: 5%;">
            <h4>Adresse de destination</h4>
            <br/>
            <p class="adress" *ngIf="villeDestination"> <i class="fas fa-map-marker-alt"></i>{{ villeDestination }}</p>
            <p class="adress" *ngIf="NumeroQuartier"> <i class="fas fa-map-marker-alt"></i>{{ NumeroQuartier }} {{ quartierDestination }} {{ AdressDes }}</p>
            
            
            </li>
          </div>
        </ul>
        </div>
       
     <br/>
    </div>


    <button type="submit" class="btn btn-primary" (click)="onSubmit(formulaire)" *ngIf="showFirstRow"   style="border: none;
    border-radius: 9%;
    width: 160px;">Continuer</button> 
             <div *ngIf="!showFirstRow" >
              <!-- Button to generate a random 10-digit barcode -->
              <button type="submit" class="btn btn-primary"  (click)="BackRows()" *ngIf="!showFirstRow" style="border: none;
              border-radius: 9%;
              width: 160px;"> <i class="fa-solid fa-backward"></i> Retour</button> &NonBreakingSpace;&NonBreakingSpace; 

              <button type="submit" class="btn btn-primary" style="background-color: #104533;
  color: #6cbf44;border: none;"  (click)="toggleVisibility()"  *ngIf="showFirstButton"  >Récuperer mon code d'envoi</button>&NonBreakingSpace;&NonBreakingSpace;  <button type="submit" class="btn btn-primary"  [disabled]="!formulaire.valid" style="border: none;
            border-radius: 9%;
            width: 160px;" *ngIf="showFirstButton" (click)="Paniertocodebarre()">Ajouter autre</button>
             
                <button type="submit" class="btn btn-primary" style="background-color: #104533;
    color: #6cbf44;border: none;" *ngIf="!showFirstButton" href="/simulateur" (click)="downloadBarcodeAsPDF()"  >Télécharger mon code <i class="fa-solid fa-cloud-arrow-down"></i></button>
              </div>
            </form>

        <!-- end simulator form -->
  </div>
  
<!-- Pop up destination  -->
<div class="modal fade map-centent" id="destinationModal" tabindex="-1" aria-labelledby="destinationModal" aria-hidden="true">
  <div class="modal-dialog test">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="destinationModal">Point de relais destination</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="container col-md-5 col-lg-5 col-sm-5 overflow-auto px-5" style="height: 400px;">
            <div class="border p-3"*ngFor="let marker2 of markers" >
              <!-- Liste des points relais -->
              <div class="selectedSource">
                <li style="margin-top: 5%;list-style-type: none;">
                  <h6>{{ marker2.code_es }} | {{ marker2.agence }}</h6>
                  <p class="adress"> <i class="fas fa-map-marker-alt"></i>{{ marker2.Adresse }}</p>
                  <h6>Horaires d'ouverture</h6>
                  <div>
                    <p class="openingHoure">Lundi - Vendredi 8h00 -20H00</p>
                  </div>
                  <div>
                    <p>Samedi 9h00 -17h00</p>
                    <p class="adress"><i class="fa-solid fa-route"></i> {{ marker2.distance }} km</p>
                    <p class="adress">
                      <a (click)="getGoogleMapsUrl(marker2.Adresse)">
                        <i class="fa-solid fa-person-walking"></i>
                      </a> 
                      {{ marker2.walkingTime || 'Calcul en cours...' }}                    </p>
                      <p class="adress">
                        <a (click)="getGoogleMapsUrl(marker2.Adresse)">
                          <i class="fa-solid fa-car"></i></a> 
                        {{ marker2.drivingTime || 'Calcul en cours...' }}                    </p>

                  </div>
                  
                </li>
                <button class="btn" data-bs-dismiss="modal" (click)="onSelectRelayPoint2(marker2)" style="background-color: rgb(251,226,84, 1);
                color: var(--green);">Sélectionner</button>
              </div>
            </div>
          </div> 
      
          <div class="container col-md-5 col-lg-5 col-sm-5 overflow-auto px-5">
            <!-- Google Map avec marqueurs -->
            <google-map  height="400px" width="100%" [center]="center" [zoom]="zoom" [options]="mapOptions">
              <map-marker *ngFor="let marker2 of markers"
                          #markerRef2="mapMarker"
                          [position]="marker2.position"
                          (mapClick)="openInfoWindow(infoWindow, markerRef2, marker2)"
                          (mapClick)="onSelectRelayPoint2(marker2)">
              </map-marker>
              <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
              <map-info-window #infoWindow="mapInfoWindow">
                <div *ngIf="selectedMarker">
                  <h6>{{ selectedMarker.code_es }} | {{ selectedMarker.agence }}</h6>
                  <p><i class="fas fa-map-marker-alt"></i> {{ selectedMarker.Adresse }} </p>
                  <p><i class="fa-solid fa-route"></i> {{ selectedMarker.distance }} KM</p>
                  <p><i class="fa-solid fa-person-walking"></i> {{ selectedMarker.walkingTime }}</p>
                  <p><i class="fa-solid fa-car"></i> {{ selectedMarker.drivingTime }}</p>

                </div>
              </map-info-window>
          </google-map>
          </div>
        </div>
      </div>
      

      <div class="modal-footer">  
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn" data-bs-dismiss="modal">Valider mon choix</button>
      </div>
    </div>
  </div>
</div>
<style>
  @media (max-width: 768px) {
      .modal-dialog {
          max-width: 90%;
      }
      .modal-title, .modal-body {
          font-size: 14px;
      }
      
  }
  @media (max-width: 768px) {
    google-map {
        height: 300px; /* Hauteur plus petite pour les appareils mobiles */
    }
  }
  </style>
</div>

<!-- Pop up source  -->
<div class="modal fade  map-centent" id="SourceModal" tabindex="-1" aria-labelledby="SourceModal" aria-hidden="true">
  <div class="modal-dialog test">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SourceModal">Trouvez un point de relais de dépôt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="container col-md-5 col-lg-5 col-sm-5 overflow-auto px-5" style="height: 400px;">
            <div class="border p-3"*ngFor="let marker of markers">
              <!-- Liste des points relais -->
              <div class="selectedSource">
                <li style="margin-top: 5%;list-style-type: none;">
                  <h6>{{ marker.code_es }} | {{ marker.agence }}</h6>
                  <p class="adress"> <i class="fas fa-map-marker-alt"></i>{{ marker.Adresse }}</p>
                  <h6>Horaires d'ouverture</h6>
                  <div>
                    <p class="openingHoure">Lundi - Vendredi 8h00 -20H00</p>
                  </div>
                  <div>
                    <p>Samedi 9h00 -17h00</p>
                  </div>
                    <p class="adress"><i class="fa-solid fa-route"></i> {{ marker.distance }} km</p>
                    <p class="adress">
                      <a (click)="getGoogleMapsUrl(marker.Adresse)">
                        <i class="fa-solid fa-person-walking"></i>
                      </a> 
                      {{ marker.walkingTime || 'Calcul en cours...' }}                    </p>
                      <p class="adress">
                        <a (click)="getGoogleMapsUrl(marker.Adresse)">
                          <i class="fa-solid fa-car"></i></a> 
                        {{ marker.drivingTime || 'Calcul en cours...' }}                    </p>


                </li>
                <button class="btn" data-bs-dismiss="modal" (click)="onSelectRelayPoint(marker)" style="background-color: rgb(251,226,84, 1);
                color: var(--green);">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="container col-md-5 col-lg-5 col-sm-5 overflow-auto px-5">
            <google-map [center]="center" [zoom]="zoom" [options]="mapOptions"  height="400px" width="100%">
              <map-marker *ngFor="let marker of markers"
                          #markerRef="mapMarker"
                          [position]="marker.position"
                          (mapClick)="openInfoWindow(infoWindow, markerRef, marker)"
                          (mapClick)="onSelectRelayPoint(marker)">
              </map-marker>
              <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
              <map-info-window #infoWindow="mapInfoWindow">
                <div *ngIf="selectedMarker">
                  <h6>{{ selectedMarker.code_es }} | {{ selectedMarker.agence }}</h6>
                  <p><i class="fas fa-map-marker-alt"></i> {{ selectedMarker.Adresse }} </p>
                  <p><i class="fa-solid fa-route"></i> {{ selectedMarker.distance }} KM</p>
                  <p><i class="fa-solid fa-person-walking"></i> {{ selectedMarker.walkingTime }}</p>
                  <p><i class="fa-solid fa-car"></i> {{ selectedMarker.drivingTime }}</p>

                </div>
              </map-info-window>
            </google-map>
            
          
            
        </div>
      
  
        
        </div>
      
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Valider mon choix</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade map-content" id="PanierModal" tabindex="-1" aria-labelledby="PanierModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="cart-item" *ngFor="let item of panier; let i = index">
            <div class="item-header">
              <i class="fa-solid fa-box-open item-icon"></i>
              <span class="item-name">{{ item.dest_name }} {{ item.dest_prenom }}</span>

            </div>
            <div class="item-body">
              <span class="item-detail">{{ item.type_expedition }}</span>
              <span class="item-detail">{{ item.poids }} kg</span>
              <span class="item-detail">{{ ((item.additionalAmount ? item.additionalAmount : 0) * 0.8 / 100).toFixed(2) || 0 }} MAD</span>
              <span class="item-detail">{{ ((item.AssuranceAmount ? item.AssuranceAmount : 0) * 0.5 / 100).toFixed(2)  || 0  }} MAD</span>
              <span class="item-detail">{{ item.prix  || 0 }} MAD</span>
              <span class="item-detail">{{ (item.Total || item.Total2).toFixed(2)}} MAD</span>
            </div>
            <div class="item-footer">
              <span class="item-total"></span>
              <i class="fa-solid fa-trash item-delete" (click)="supprimerDuPanier(i)" *ngIf="showFirstButton"></i>
            </div>
          </div>
        </div>

        <div class="total-container">
          <span class="total-label">Total:</span>
          <span class="total-amount">{{ getTotalPanier() }} MAD</span>
        </div>
      </div>
      
           <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="background-color: #f7e164;
            color: #6cbf44;border: none;font-weight: bold;" (click)="downloadAsPDF()">Récuperer mon code d'envoi</button>
      
          </div> 
  </div>
  </div>
</div>


  </div>
</div>

        

          
          
          
      
          
          
          
