
<div class="container">

  <div id="client-type" class="row gy-4">

    <div class="col-lg-6 col-md-6 d-flex justify-content-center" data-aos="fade-up">
        <a routerLink="/logistique_ecom_details" class="btn-get-started scrollto f1">E-commerçant  <i class="bi bi-arrow-right"></i></a>
    </div>

    <div class="col-lg-6 col-md-6 d-flex justify-content-center" data-aos="fade-up">
      <a routerLink="/logistique_details" class="btn-get-started scrollto f3">Entreprise  <i class="bi bi-arrow-right"></i></a>
    </div>

  </div>

</div>

