<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container">
      <div class="section-header" data-aos="fade-up" data-aos-duration="500">
        <h1>Nos atouts</h1>
      </div>
      <div class="row gy-4">

        <div class="top_services col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up-right" data-aos-duration="500">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-location-arrow"></i></div>
          <div>
            <h4 class="title">Livraison au niveau du tout le Royaume</h4>
            <p class="description">+30 Hub/Agences et 2 plateformes logistiques au niveau national <br>
              Equipe de plus de 300 experts à votre disposition
              </p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="top_services col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up-left" data-aos-delay="100" data-aos-duration="500">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-clock-rotate-left"></i></div>
          <div>
            <h4 class="title">99 % de colis livrés on time</h4>
            <p class="description">Une grande flotte de véhicules diversifiées couvrant tout le Royaume</p>
          </div>
        </div><!-- End Service Item -->

        <div class="top_services col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up-right" data-aos-delay="200" data-aos-duration="500">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-phone-volume"></i></div>
          <div>
            <h4 class="title">Service client</h4>
            <p class="description">Un key account manager dédié pour vous accompagner<br>
              Un customer service à votre disposition avec un accès multicanal
              </p>
          </div>
        </div><!-- End Service Item -->

        <div class="top_services col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up-left" data-aos-delay="200"data-aos-duration="500">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-file-circle-check"></i></div>
          <div>
            <h4 class="title">Certifications</h4>
            <p class="description">Un système management qualité certifié ISO 9001 <br>
              Certifié ONSSA pour le transport et l&apos;entreposage des produits alimentaires à température ambiante <br>
              Engagé RSE pour «responsabilité sociétale et environnementale des entreprises»
              </p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Featured Services Section -->
  <app-counter></app-counter>
  

  
