 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta">
    <div class="container"  data-aos="fade-left"data-aos-duration="300">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>La proximité est une garantie d&apos;efficacité !</h3> <br>
          <p>Pour vous satisfaire, les services de livraison à domicile de  Sapress couvrent désormais plus de 780 destinations (urbaines et rurales) dans tout le Royaume du Maroc.</p>
          <br><a class="cta-btn align-middle" href="#">Livrer avec Sapress</a>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <img src="assets/cta.png" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->
  <app-news></app-news>
