    <!-- ======= services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-header" data-aos="fade-up" data-aos-duration="500">
          <h1>Nos offres</h1>
          <p>Venez découvrir nos offres</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 flip">
            <div class="box" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
              <h3>Messagerie E-commerce</h3>
              <ul class="inner-service">
                <li><i class="bi bi-check"></i>Couverture nationale jusqu&apos;au dernier kilomètre</li>
                <li><i class="bi bi-check"></i>Offre sur mesure en fonction de l&apos;activité</li>
                <li><i class="bi bi-check"></i>Un web service à disposition du client pour la préparation des envois, le reporting  et le suivi des colis</li>
                <li><i class="bi bi-check"></i>Un accès au tracking mis à disposition du destinataire du client</li>
                <li><i class="bi bi-check"></i>Retour de fonds rapide en J+1</li>
                <li><i class="bi bi-check"></i>Une tarification attrayante et sur mesure</li>
              </ul>
              <div class="btn-wrap">
                <a routerLink="/messagerie_ecom_details" class="btn-buy">Vois plus</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
              <h3>Messagerie Entreprise</h3>
              <ul class="inner-service">
                <li><i class="bi bi-check"></i>Couverture nationale jusqu&apos;au dernier kilomètre</li>
                <li><i class="bi bi-check"></i>Offre sur mesure en fonction de l&apos;activité</li>
                <li><i class="bi bi-check"></i>Un web service à disposition du client pour la préparation des envois, le reporting  et le suivi des colis</li>
                <li><i class="bi bi-check"></i>Un accès au tracking mis à disposition du destinataire du client</li>
                <li><i class="bi bi-check"></i>Retour de fonds rapide en J+1</li>
                <li><i class="bi bi-check"></i>Retour documentaire physique et /ou digital</li>
                <li><i class="bi bi-check"></i>Une tarification attrayante et sur mesure</li>
              </ul>
              <div class="btn-wrap">
                <a routerLink="/messagerie_details" class="btn-buy">Voir plus</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
              <h3>Logistique E-commerce</h3>
              <ul class="inner-service">
                <li><i class="bi bi-check"></i>Couverture nationale jusqu&apos;au dernier kilomètre</li>
                <li><i class="bi bi-check"></i>Offre sur mesure en fonction de l&apos;activité</li>
                <li><i class="bi bi-check"></i>Un web service à disposition du client pour la préparation des envois, le reporting  et le suivi des colis</li>
                <li><i class="bi bi-check"></i>Un accès au tracking mis à disposition du destinataire du client</li>
                <li><i class="bi bi-check"></i>Retour instantané des documents électronique</li>
                <li><i class="bi bi-check"></i>Retour rapide des documents physiques et des POD</li>
                <li><i class="bi bi-check"></i>Une tarification attrayante et sur mesure</li>
              </ul>
              <div class="btn-wrap">
                <a routerLink="/logistique_ecom_details" class="btn-buy">Voir plus</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box featured" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
              <h3>Logistique Entreprise</h3>
              <ul class="inner-service">
                <li><i class="bi bi-check"></i>Couverture nationale jusqu&apos;au dernier kilomètre</li>
                <li><i class="bi bi-check"></i>Offre sur mesure en fonction de l&apos;activité</li>
                <li><i class="bi bi-check"></i>Un web service à disposition du client pour la préparation des envois, le reporting et le suivi des colis</li>
                <li><i class="bi bi-check"></i>Un accès au tracking mis à disposition du destinataire du client</li>
                <li><i class="bi bi-check"></i>Retour de fonds rapide en J+1</li>
                <li><i class="bi bi-check"></i>Une tarification attrayante et sur mesure</li>
              </ul>
              <div class="btn-wrap">
                <a  routerLink="/logistique_details" class="btn-buy">Voir plus</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End services Section -->
    <app-references></app-references>
  